.container{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

#color-box{
    width: 350px;
    height: 150px;
    background-color: black;
    margin: 10px;
}

#change-color-btn{
    background-color: #007bff; 
    color: hwb(61 7% 4%); 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
    font-size: medium; 
}
#change-color-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}